---
layout: page
title: Tags
---

<h2>Competiciones</h2>
<div class="d-flex flex-wrap">
  {% assign comp_tags = site.tags | map: 'first' | where_exp: "tag", "tag contains 'comp-'" | sort_natural %}
  {% for t in comp_tags %}
    <a class="tag" href="{{ '/tags/' | append: t | slugify | append: '/' | relative_url }}">
      {{ t | remove: 'comp-' }}
      <span class="text-muted">{{ site.tags[t].size }}</span>
    </a>
  {% endfor %}
</div>

<hr>

<h2>Otros Tags</h2>
<div class="d-flex flex-wrap">
  {% assign other_tags = site.tags | map: 'first' | where_exp: "tag", "tag contains 'comp-'" | map: "first" | then: nil %}
  {% assign other_tags = site.tags | map: 'first' | where_exp: "tag", "tag contains 'comp-'" | inverse | sort_natural %}
  {% for t in other_tags %}
    <a class="tag" href="{{ '/tags/' | append: t | slugify | append: '/' | relative_url }}">
      {{ t }}
      <span class="text-muted">{{ site.tags[t].size }}</span>
    </a>
  {% endfor %}
</div>
